name: cider
version: 0.1.6
description: Tools for Dart package maintainers. Automates changelog and pubspec.yaml updates.
homepage: https://github.com/f3ath/cider
repository: https://github.com/f3ath/cider
issue_tracker: https://github.com/f3ath/cider/issues
environment:
  sdk: ">=2.19.0 <4.0.0"
dependencies:
  args: ^2.0.0
  change: ^0.6.0
  klizma: ^0.2.0
  markdown: ^7.0.0
  path: ^1.6.0
  pub_semver: ^2.0.0
  version_manipulation: ^0.1.1
  yaml: ^3.1.0
  rfc_6901: ^0.1.0
  pubspec_parse: ^1.0.0

dev_dependencies:
  lints: ^2.0.1
  test: ^1.15.3
  coverage: ^1.0.2
  check_coverage: ^0.0.2

executables:
  cider: cider

cider:
  link_template:
    tag: 'https://github.com/f3ath/cider/releases/tag/%tag%'
    diff: 'https://github.com/f3ath/cider/compare/%from%...%to%'
